/* Import */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


/* Global */

* {
  box-sizing: :border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  padding: 0;
  margin: 0;
}

h1 h2 h3 {
  color: #ff0000;
}


/* section welcome-banner */
.welcome-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/Assets/banner\ photo.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
  overflow: hidden;

}

/* navbar */
.nav {
  display: flex;
  /* background-color: black; */
  height: 5vw;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin: 0 50px;
}

/* logo */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
}

.logo:hover {
  scale: 1.1;
  cursor: pointer;
}

.nav i {
  color: white;
}

.nav span {

  color: white;
  font-weight: 900;


}

/* navlinks */

.nav a {
  list-style: none;
  text-decoration: none;
  padding: 0 20px;
  color: white;
  transition: 0.3s;
}

.nav a:current {
  opacity: 1;
  font-weight: bold;

}

.nav a:hover {
  cursor: pointer;
  font-size: 1.3em;
  opacity: 1;
  font-weight: bold;
}

/* text */
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  text-align: center;
  padding-top: 110px;

}

.text h1 {
  font-size: 3em;
  color: white;
  font-weight: 900;
  padding: 5px 0;
}

.text p {
  font-size: 1.2em;
  color: white;
  padding-bottom: 20px;
}

/* section about-us */
.about-us {
  display: grid;
  grid-template-columns: 50px, 40px;
  width: 100vw;


}


/* about */
.about-us {
  display: grid;
  grid-template-columns: 6fr 4fr;
  height: 500px;

  justify-content: center;
  margin: 0 50px;
  overflow: hidden;

}


.about-us-text>div {
  display: grid;

}

/* aboout-us-image */
.about-us img {
  height: 400px;
  width: auto;
}



/* about-us */
/* .about-us {
  display: flex;
  padding-top: 50px;
  margin: 0 -50px 50px 50px;
  color: #333;
}

.about-us h1 {
  color: #2a2a2a;
  padding: 20px 0;
}

/* about-us-text */
/* .about-us-text {}

.about-us>div {
  display: block;
  text-align: center;
  overflow: hidden;
}

.about-us img {
  padding: 50px;
  width: 40vw;
  height: 60%;
  object-fit: cover;
  min-width: 300px;
  overflow: hidden;
}

@media screen and (max-width:768px) {
  .about-us {
    display: block;
    margin-bottom: 0;
  }

  .about-us-text {
    padding: 30px 30px;
  }

  .about-us img {
    width: 100vw;
    padding: 50px 0;
  }
} */

/* CSS for banner button */
/* CSS */
.button-34 {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

/* our services */
.our-services {
  text-align: center;
}

.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  grid-auto-rows: minmax(400px);
  justify-content: center;
  margin: 0 100px;
  padding: 50px 0;


}

.services>div:hover {
  scale: 1.1;
  cursor: pointer;
  transition: 0.3s;
}



.services>div>div>a {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: block;
  padding: 70px 30px;
}

/* grid icons */

.services>div>div>a>i {
  margin-bottom: 20px;
}

/* grid texts */


.services>div>div>a h3 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.4em;
  padding-bottom: 10px;
}


.services>div>div>a>p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  /* number of lines to show */
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.services>div>div>a {
  color: black;
  text-decoration: none;
}


/* our works */
.work {
  display: flex;
  justify-content: center;
  height: 77px;

}

.img1 {
  display: flex;
  justify-content: center;
  height: 200px;

  gap: 40px;
  /* margin: 30px; */
  margin-bottom: 30px;
}

.img2 {
  display: flex;
  justify-content: center;
  height: 200px;
  gap: 40px;
}

*/ */